h3 {
    color: green;
}
li {
    color: red;
    list-style-type: none;
}
/* class 선택자 */
.square {
    list-style-type: square;
}

.roman {
    list-style-type: upper-roman;
    color: blue;
}
/* id 선택자 */
#first {
    color: pink;
}
/* 특정문자열 스타일 수정 */
li.square#first {
    font-size: 50px;
}
/* 방문 하지 않은 링크 */
a:link {
    color: pink;
}
/* 방문했던 링크 */
a:visited {
    color: green;
}

div.square {
    background-color: rgb(214, 25, 145);
    width: 100px;
    height: 100px;
}
/* border: html 코드 박스 테두리 */
.border {
    border-width: 2px;
    border-style: solid;
    border-color: black;

}
/* margin: 프레임과 프레임 사이의 영역 */
.margin {
    margin-top: 5px;
    margin-left: 10px;
}